
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(var(--blur-text-start));
            filter: blur(var(--blur-text-start));
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(var(--blur-text-end));
            filter: blur(var(--blur-text-end));
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(var(--blur-text-start));
            filter: blur(var(--blur-text-start));
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(var(--blur-text-end));
            filter: blur(var(--blur-text-end));
    opacity: 1;
  }
}
